    <main>
        <section class="store-intro">
            <h1>Bem-vindo à nossa Loja</h1>
           
        </section>

        <section class="product-list">
            <article class="product">
                <img src="assets/svg/p1.svg" alt="Produto 1">
                <h2>Produto 1</h2>
                <p> Sapato Crochê Vermelho</p>
                <p class="price">R$ 85,90</p>
                <button class="btn-comprar"><a href="/pagamento">Comprar</a></button>
            </article>

            <article class="product">
                <img src="assets/svg/p2.svg" alt="Produto 2">
                <h2>Produto 2</h2>
                <p>Kit Higiene.</p>
                <p class="price">R$ 150,00</p>
                <button class="btn-comprar"><a href="/pagamento">Comprar</a></button>
            </article>

            <article class="product">
                <img src="assets/svg/p3.svg" alt="Produto 3">
                <h2>Produto 3</h2>
                <p>Porta Treco</p>
                <p class="price">R$ 199,90</p>
                <button class="btn-comprar"><a href="/pagamento">Comprar</a></button>
            </article>

        </section>
    </main>


    <script src="menu.js"></script>

