

<main class="tips-container">
    <section class="tips-list">
        <article class="tip">
            <h2>Licença-Maternidade</h2>
            <p>A licença-maternidade é um direito garantido às trabalhadoras por um período de 120 dias,<br>
                podendo ser estendido para 180 dias em algumas empresas que aderem ao Programa Empresa Cidadã. <br>
                Durante a licença, a trabalhadora recebe o salário integral pago pelo empregador.</p>
        </article>
        <article class="tip">
            <h2>Estabilidade no Emprego</h2>
            <p>A gestante tem estabilidade no emprego desde a confirmação da gravidez até cinco meses após o parto,<br>
               protegendo a mulher de demissões sem justa causa durante esse período.</p>   
        </article>
        <article class="tip"> 
            <h2>Direito à Amamentação</h2>
            <p>Após o retorno ao trabalho, a mãe tem direito a dois intervalos de 30 minutos<br>
                 cada para amamentar seu bebê até que ele complete seis meses de idade.</p>
        </article>
        <article class="tip">
            <br><br> <h2>Auxílio-Maternidade</h2>
            <p>Mulheres que contribuem para o INSS têm direito ao auxílio-maternidade, que é equivalente ao salário da mulher,<br>
                 calculado com base na média dos últimos salários de contribuição.</p>
        </article>
        <article class="tip">
            <h2>Direitos Relacionados ao Pré-Natal</h2>
            <p>A gestante tem direito a dispensa do trabalho para consultas médicas e exames de pré-natal, sem prejuízo salarial.<br>
                 Recomenda-se um mínimo de seis consultas durante o período gestacional.</p>
        </article>
        <article class="tip">
            <h2>Direito à Transferência de Função</h2>
            <p>Se a gestante exerce uma atividade de risco, ela tem direito de ser transferida para uma função segura, <br>
                sem prejuízo ao salário.</p>
        </article>
        <article class="tip">
            <h2>Afastamento em Casos Especiais</h2>
            <p>Em casos de gravidez de risco, a gestante tem o direito de ser afastada do trabalho com remuneração garantida pelo INSS<br>
                 durante o período do afastamento.</p>
        </article>
        <article class="tip">
            <h2></h2>
            <p></p>
        </article>
    </section>
</main>
