<html lang="en">
  <body>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="container-text-initial">
            <h1>10 DICAS PARA ALIVIAR O ENJOO NA GRAVIDEZ</h1>
            <p>Descubra como melhorar a qualidade de vida durante a gestação</p>
          </div>
          <div class="container-initial-image">
            <img src="assets/svg/home.svg"/>
          </div>
        </div>
        <div class="container-faq">
          <div class="card-faq">
            <div class="row">
              <div class="col-faq-text">
                <h2>
                  Que tal aprender mais sobre o que fazer durante e após a
                  gestação?
                </h2>
                <p>
                  Saber um pouco mais nunca faz mal. Venha explorar nossas dicas
                  sobre a sua gestação. Com informações atualizadas e úteis,
                  você pode descobrir novos cuidados e recomendações que podem
                  fazer toda a diferença para você e seu bebê!
                </p>
              </div>
              <div class="col-faq-img">
                <img src="assets/svg/f1.svg"/>
              </div>
            </div>
          </div>
          <div class="card-faq">
            <div class="row">
              <div class="col-faq-text">
                <h2>
                  Você sabe quais são os seus direitos? Aqui estão algumas
                  dicas.
                </h2>
                <p>
                  Você sabe quais são os seus direitos durante a gestação? Aqui
                  estão algumas dicas para ajudá-la a entender melhor suas
                  garantias e proteções. Com informações, você pode assegurar
                  que está aproveitando todos os benefícios e cuidados aos quais
                  tem direito, garantindo o melhor para você e seu bebê.
                </p>
              </div>
              <div class="col-faq-img">
                <img src="assets/svg/f2.svg"/>
              </div>
            </div>a
          </div>
        </div>
        <div class="container-about">
          <div class="card-about">
            <h2>Sobre nós</h2>
            <p>
              No PorElas, abordamos temas essenciais sobre saúde reprodutiva,
              com o objetivo de educar e conscientizar adolescentes e adultos
              sobre tópicos fundamentais como gravidez, prevenção, saúde
              menstrual e cuidados durante a gestação.
            </p>
          </div>
        </div>
        <div class="container-doubts">
          <h2>Dúvidas frequentes</h2>
          <div class="card-doubt">
            <h3>É seguro?</h3>
            <p>
              Estamos comprometidos em fornecer informações precisas,
              atualizadas e acessíveis para que você possa tomar decisões
              informadas sobre sua saúde reprodutiva. Navegue pelo nosso portal
              e descubra tudo o que você precisa saber para cuidar bem de si
              mesmo e dos seus entes queridos.
            </p>
          </div>
          <div class="card-doubt">
            <h3>Como faço para criar uma conta?</h3>
            <p></p>
          </div>
          <div class="card-doubt">
            <h3>Quais são os termos de serviço ou uso do site?</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
