<main class="tips-container">


    

    <br><h1>Capacitação para Mulheres</h1><br>
    


    <section class="tips-list">
        <article class="tip">
        <br><br><h2>Curso de Empoderamento e Liderança</h2>
        <p>Aprenda habilidades de liderança, negociação e comunicação para assumir posições de destaque.</p>
        <button class="btn-inscrever"><a href="https://sebrae.com.br/sites/PortalSebrae/cursosonline/lideranca-como-desenvolver-times-de-alta-performance,f990b8a6a28bb610VgnVCM1000004c00210aRCRD">Inscrever-se</a></button>
    </article>

        <article class="tip">
    <br><br> <h2>Treinamento em Tecnologia e Programação</h2>
    <p>Capacitação em linguagens de programação, desenvolvimento web e conceitos de tecnologia para abrir portas no mercado digital.</p>
</article>

    <article class="tip">
    <br><br> <h2>Workshop de Gestão Financeira Pessoal</h2>
    <p>Desenvolva habilidades de gestão financeira para planejar o seu futuro e alcançar estabilidade econômica.</p>
    <button class="btn-inscrever"><a href="https://sebrae.com.br/sites/PortalSebrae/cursosonline/gestao-financeira,7370b8a6a28bb610VgnVCM1000004c00210aRCRD">Inscrever-se</a></button>
</article>
</section>
</main>


   

   
   


<script src="menu.js"></script>
