

    <main class="tips-container">
        <h1>Dicas para Você</h1>
        <section class="tips-list">
            <article class="tip">
                <h2>Dica de Saúde: Alimentação Balanceada</h2>
                <p>Manter uma alimentação saudável é essencial para o bem-estar. Inclua frutas, verduras, e proteínas em sua dieta diária para manter seu corpo e mente saudáveis.</p>
            </article>
            <article class="tip">
                <h2>Direitos Trabalhistas: Conheça seus Direitos</h2>
                <p>É importante conhecer os seus direitos no ambiente de trabalho. Saiba mais sobre a licença maternidade, o direito a pausas e ambientes de trabalho seguros.</p>
            </article>
            <article class="tip">
                <h2>Bem-Estar: Importância do Autocuidado</h2>
                <p>Tire um tempo para cuidar de si mesma. Práticas como meditação, leitura e exercícios físicos podem ajudar a reduzir o estresse e melhorar sua qualidade de vida.</p>
            </article>
            <article class="tip">
                <h2>Finanças: Economize para o Futuro</h2>
                <p>Planejar suas finanças é uma ótima forma de garantir segurança no futuro. Considere criar um orçamento mensal e reservar uma parte de seus ganhos para emergências.</p>
            </article>
        </section>
    </main>


